proxy_location: EveryNode
http_options:
  host: 0.0.0.0
  port: 8000

applications:
  - name: server
    route_prefix: /api/v1
    import_path: main:build_server_app
    args:

    deployments:
      - name: TinkerCompatServer
        autoscaling_config:
          min_replicas: 1
          max_replicas: 1
          target_ongoing_requests: 128
        ray_actor_options:
          num_cpus: 0.1

  - name: models
    route_prefix: /api/v1/model
    import_path: main:build_model_app
    args:
      nproc_per_node: 2
      device_group:
        name: model
        ranks: [ 0,1 ]
        device_type: cuda
      device_mesh:
        device_type: cuda
        mesh: [0,1 ]
        mesh_dim_names: ['dp']
    deployments:
      - name: ModelManagement
        autoscaling_config:
          min_replicas: 1
          max_replicas: 1
          target_ongoing_requests: 16
        ray_actor_options:
          num_cpus: 0.1

